<a href="https://colab.research.google.com/github/Shikhas/Data-Preparation-and-Analysis/blob/master/Pandas_Dataframes_Analyze_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle = pd.read_csv(url, sep = '\t')  # get the data

In [6]:
chipotle.shape[0] # number of rows/records

4622

In [7]:
chipotle.shape[1] # number of columns

5

In [8]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [9]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

In [14]:
chipotle

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

In [15]:
# most popular item 
ch = chipotle.groupby("item_name")
ch = ch.sum()

In [18]:
ch = ch.sort_values(["quantity"], ascending = False) # max is at top
ch.head(1) # return 1 number of row

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [21]:
# most popular by choice description
ch = chipotle.groupby("choice_description").sum()
ch = ch.sort_values(["quantity"], ascending = False)
ch.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [28]:
# total number of items ordered 
total_items = chipotle.quantity.sum()
total_items

4972

In [24]:
# total number of orders made 
total_orders_placed = chipotle.order_id.value_counts()

In [25]:
total_orders_placed

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

In [26]:
total_orders_placed.count()

1834

In [29]:
# check type of price 
chipotle.item_price.dtype

dtype('O')

In [32]:
dolarizer = lambda x: float(x[1:-1])
chipotle.item_price = chipotle.item_price.apply(dolarizer)

In [33]:
chipotle.item_price.dtype

dtype('float64')

In [37]:
# calculate revenue
revenue = (chipotle["item_price"] * chipotle["quantity"]).sum()
print("Revenue is $" + str(np.round(revenue,2)))

Revenue is $39237.02

In [35]:
revenue

39237.02

In [42]:
# revenue per order 
chipotle["revenue"] = chipotle["item_price"]*chipotle["quantity"] # adding new column revenue
orders_grpd = chipotle.groupby("order_id").sum()
orders_grpd

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
...            ...         ...      ...
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [43]:
# average revenue per order
orders_grpd.mean()["revenue"] # find mean on basis of revenue

21.394231188658654

In [44]:
orders_grpd.mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

In [47]:
# number of different items sold
chipotle.item_name.value_counts().count()

50

In [48]:
chipotle.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64